* {
    font-family: Avenir, sans-serif;
    background-color: #040714;
    color: #f9f9f9;
}

/* Navigation bar on top */
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    width: 100%;
}

/* Disney Plus logo on top left */
img {
    width: 120px;
    height: 100%;
    max-width: 100%;
    padding-left: 36px;
}

.header-text {
    text-align: center;
    font-size: 40px;
    padding-top: 3rem;
}

.footer {
    padding: 3rem;
    background-color: #040714;
    bottom: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

/* Styling the font-awesome social links */
.fab {
    color: #f9f9f9;
    font-size: 20px;
    padding-top: .5rem;
}

a {
    text-decoration: none;
}

main {
    padding: 1rem;
}

svg {
    padding: 1rem;
    width: 100%;
    height: 100%;
}

.bar {
    fill: white;
}